<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common-head :: common-head"/>
<body>
<div th:replace="fragments/header :: header">
</div>
<div class="container">
    <div>
        <img th:src="${product.imageUrl != 'brak' ? product.imageUrl :'/img/noimage.jpg'}"
             alt="Brak zdjęcia"/>
    </div>
    <div><p th:text="${product.name}"> nazwa </p></div>
    <div><p th:text="${product.description}"> opis </p></div>
    <div><p th:text="${product.quantity}"> ilość </p></div>
    <div><p th:text="${product.price}"> cena </p> PLN</div>
    <form method="POST" th:object="${ordered}" th:action="@{/products/buy/}+${product.id}">
        <div class="input-group">
            <input type="number" step="1" min="1" max="" value="1" name="quantity" class="quantity-field"
                   th:field="*{quantity}" required>
        </div>
        <button type="submit" name="submit" class="btn btn-success">Kupuję!</button>
    </form>
</div>


<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>