<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Stragany</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th> Nazwa </th>
        <th> Opis </th>
        <th> Ilość </th>
        <th> Cena </th>
        <th> Ile biorę? </th>
        <th> </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${products.empty}">
        <td colspan="2">Nieurodzaj, nie mamy nic do zaoferowania</td>
    </tr>
    <tr th:each="product : ${products.?[quantity > 0]}">
        <td><span th:text="${product.name}"> nazwa </span></td>
        <td><span th:text="${product.description}"> opis </span></td>
        <td><span th:text="${product.quantity}"> ilość </span></td>
        <td><span th:text="${product.price}"> cena </span> PLN </td>
        <form method="POST" th:object="${ordered}" th:action="@{/products/buy/}+${product.id}">
        <td>
            <input type="text" class="form-control" placeholder="ile" th:field="*{quantity}" required>
        </td>
        <td>
                <button type="submit" name="submit" class="link-button">Kupuję!</button>
        </td>
        </form>
    </tr>
    </tbody>
</table>


</body>
</html>