<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common-head :: common-head"/>
<body>
<div th:replace="fragments/header :: header">
</div>
<div class="container">
<table>
    <thead>
    <tr>
        <th></th>
        <th> Nazwa</th>
        <th> Opis</th>
        <th> Ilość</th>
        <th> Cena</th>
        <th> Ile biorę?</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${products.empty}">
        <td colspan="2">Nieurodzaj, nie mamy nic do zaoferowania</td>
    </tr>
    <tr th:each="product : ${products.?[quantity > 0]}">
        <td>
            <img th:src="${product.imageUrl != 'brak' ? product.imageUrl :'/img/noimage.jpg'}" height="150" width="150"
                 alt="Brak zdjęcia"/>
        </td>
        <td><span th:text="${product.name}"> nazwa </span></td>
        <td><span th:text="${product.description}"> opis </span></td>
        <td><span th:text="${product.quantity}"> ilość </span></td>
        <td><span th:text="${product.price}"> cena </span> PLN</td>
        <form method="POST" th:object="${ordered}" th:action="@{/products/buy/}+${product.id}">
            <td>
                <input type="text" class="form-control" placeholder="ile" th:field="*{quantity}" required>
            </td>
            <td>
                <button type="submit" name="submit" class="btn btn-success">Kupuję!</button>
            </td>
        </form>
    </tr>
    </tbody>
</table>
</div>
<script>

    function changeActive(elem) {
        console.log("w products")

        var a = document.getElementsByTagName('a');
        for (i = 0; i < a.length; i++) {
            a[i].classList.remove('active')
        }
        elem.classList.add('active');

    }

    document.getElementsByTagName('a').addEventListener('click', function() {
        alert('Hello world');
    }, false);

</script>


<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>