version: '3'
services:
  database:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: root
      POSTGRES_DB: farm
    ports:
    - "5432:5432"
    volumes:
      - ./volumes/fs:/app/data
