<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common-head :: common-head"/>
<body>
<div th:replace="fragments/header :: header">
</div>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>no.</th>
            <th>produkt</th>
            <th>dostępność</th>
            <th>zamówiona ilość</th>
            <th>cena razem</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${basketProducts.empty}">
            <td colspan="2">Aktualnie nie masz nic w koszyku</td>
        </tr>
        <tr th:each="product,iter : ${basketProducts}">
            <td><span th:text="${iter.count}"> nazwa </span>.</td>
            <td><span th:text="${product.product.name}"> opis </span></td>
            <td><span th:text="${product.product.quantity}"> ilość </span></td>
            <td><span th:text="${product.quantity}"> ilość </span></td>
            <td><span th:text="${#numbers.formatDecimal(product.countProductPrice(), 1, 2, 'COMMA')}"> cena </span></td>
            <td>
                <a th:href="@{/basket/edit/}+${product.id}"><span class="btn btn-info">Edytuj</span></a>
            </td>
            <td>
                <a th:href="@{/basket/delete/}+${product.id}" class="btn btn-outline-danger">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <hr />
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="col"></div>
            <div class="col">
                <h5 class="basket-price">suma: <span th:text="${#numbers.formatDecimal(totalPrice, 1, 2, 'COMMA')}"> cena </span>
                    zł</h5>
                <div th:if="${not basketProducts.empty}">
                    <form method="POST" th:action="@{/basket}">
                        <button type="submit" name="submit" class="btn btn-success btn-primary btn-lg">KUPUJĘ!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>

    <table th:if="${absent ne null}">
        <thead>
        <tr>
            <th> Nazwa produktu</th>
            <th> Ilość produktu na stanie</th>
            <th> Ilość zamówiona</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ordered : ${absent}">
            <td><span th:text="${ordered.product.name}"> nazwa </span></td>
            <td><span th:text="${ordered.product.quantity}"> ilość </span></td>
            <td><span th:text="${ordered.quantity}"> ilość </span></td>
        </tr>
        </tbody>
    </table>
</div>

<script>

    function changeActive(elem) {
        console.log("w basket")
        var a = document.getElementsByTagName('a');
        for (i = 0; i < a.length; i++) {
            a[i].classList.remove('active')
        }
        elem.classList.add('active');
    }

</script>
<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>