<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common-head :: common-head"/>
<body>
<div th:replace="fragments/header :: header">
</div>
<div class="container">
    <table class="table-responsive">
        <thead>
        <tr>
            <th> Id</th>
            <th> Nazwa</th>
            <th> Email</th>
            <th> Numer telefonu</th>
            <th> Dostępny</th>
            <th> Rola</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="2">Nikogo tu nie ma</td>
        </tr>
        <tr rowspan="3" th:each="user : ${users}" class="user">
            <td><span th:text="${user.id}"> id </span></td>
            <td><span th:text="${user.name}"> nazwa </span></td>
            <td><span th:text="${user.email}"> email </span></td>
            <td><span th:text="${user.phoneNumber}"> numer </span></td>
            <td><span th:text="${user.enabled == true ? 'TAK' : 'NIE'}">aktywny</span></td>
            <td>
                <div th:if="${#lists.size(user.roles) > 0}">
                    <span th:if="${user.roles[0].name == 'ROLE_ADMIN'}">ADMIN</span>
                    <span th:if="${user.roles[0].name == 'ROLE_SELLER'}">SPRZEDAWCA</span>
                    <span th:if="${user.roles[0].name == 'ROLE_CUSTOMER'}">KLIENT</span>
                </div>
                <div th:if="${#lists.size(user.roles) == 0}">
                    <span>-</span>
                </div>
            </td>
            <td>
                <a class="btn btn-outline-primary" th:href="'/users/edit/'+${user.id}">
                    <span>Edytuj</span>
                </a>
            </td>
            <td>
                <a class="btn btn-outline-danger" th:href="'/users/delete/'+${user.id}">
                    <span>Usuń</span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>