<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common-head :: common-head"/>
<body>
<div th:replace="fragments/header :: header">
</div>
<div class="container">
    <div class="edit-user">
        <form action="#" th:action="@{/users/my-account/change-password}" th:object="${password}" method="post">
            <div class="form-group">
                <label>Nowe hasło</label>
                <input type="password" class="form-control" placeholder="Nowe hasło" th:field="*{newPassword}">
                <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Name Error</span>
            </div>
            <div class="form-group">
                <label >Powtórz hasło</label>
                <input type="password" class="form-control" placeholder="Powtórz hasło"
                       th:field="*{repeatPassword}">
                <span th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}">Name Error</span>
            </div>
            <div class="form-group">
                <a th:href="@{/users/my-account}"><span class="btn btn-outline-warning">Anuluj</span></a>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>