<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common-head :: common-head"/>
<body>
<div th:replace="fragments/header :: header">
</div>

<div class="container">
    <form action="#" th:action="@{/users/edit/}+${id}" th:object="${userEdit}" method="post">
        <div class="form-group">
            <label>Dostępny</label>
            <select id="unit" name="role" th:field="*{enabled}">
                <option th:value="true" th:text="TAK"></option>
                <option th:value="false" th:text="NIE"></option>
            </select>
        </div>
        <div class="form-group">
            <a th:href="@{/users}"><span class="btn btn-outline-warning">Anuluj</span></a>
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
    </form>
    <br>
    <hr/>
    <div class="form-group">
        <p><span>Role użytkownika:</span></p>
        <p th:each="role : ${user.roles}">
            <span th:if="${role.name == 'ROLE_ADMIN'}">ADMIN</span>
            <span th:if="${role.name == 'ROLE_SELLER'}">SPRZEDAWCA</span>
            <span th:if="${role.name == 'ROLE_CUSTOMER'}">KLIENT</span>
        </p>
    </div>

    <form action="#" th:action="@{/users/addRole/}+${id}" th:object="${userRole}" method="post">
        <div class="form-group">
            <label>Rola</label>
            <select name="role" th:field="*{role}">
                <option th:value="'ROLE_ADMIN'" th:text="Admin"></option>
                <option th:value="'ROLE_SELLER'" th:text="Sprzedawca"></option>
                <option th:value="'ROLE_CUSTOMER'" th:text="Klient"></option>
            </select>
            <button type="submit" class="btn btn-success">Dodaj</button>
        </div>
    </form>

    <form action="#" th:action="@{/users/removeRole/}+${id}" th:object="${userRole}" method="post">
        <div class="form-group">
            <label>Rola</label>
            <select name="role" th:field="*{role}">
                <option th:value="'ROLE_ADMIN'" th:text="Admin"></option>
                <option th:value="'ROLE_SELLER'" th:text="Sprzedawca"></option>
                <option th:value="'ROLE_CUSTOMER'" th:text="Klient"></option>
            </select>
            <button type="submit" class="btn btn-danger">Usuń</button>
        </div>
    </form>
    <a th:href="@{/users}"><span class="btn btn-outline-info">Wróć</span></a>
</div>
<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>