<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common-head :: common-head"/>
<body>
<div th:replace="fragments/header :: header">
</div>
<div class="breadcrumb">
    Kęski - Moje konto
</div>
<div class="container">
    <div class="row my-account">
        <div class="col">
            <h2 th:text="${user.name}"></h2>
            <p>email: <span th:text="${user.email}"></span></p>
            <p>telefon: <span th:text="${user.phoneNumber}"></span></p>
            <p>aktywny: <span th:text="${user.activated == true ? 'TAK' : 'NIE'}"></span></p>
            <p><a href="#"><span class="material-icons">Zmień hasło</span></a></p>
        </div>
        <div class="col">
            <a th:href="'/basket'"><span class="btn btn-light">mój koszyk</span></a>
            <br>
            <a th:href="'/users/products'"><span class="btn btn-light">moje produkty</span></a>
            <br>
            <a th:href="'/orders'"><span class="btn btn-light">moje zamówienia</span></a>
            <br>
            <a th:href="'/orders/sold'"><span class="btn btn-light">moja sprzedaż</span></a>
            <br>
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="'/users'"><span class="btn btn-light">Użytkownicy</span></a>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>