<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Moje konto</title>
</head>
<body>
<div class="container">
    <h1 th:text="${user.name}"></h1>
    <p>email: </p>
    <span th:text="${user.email}"></span>
    <p>phone: </p>
    <span th:text="${user.phoneNumber}"></span>
    <p>aktywny: </p>
    <span th:text="${user.activated}"></span>
</div>
<br>
<a th:href="'/basket'"><span class="material-icons">Mój koszyk</span></a>
<br>
<a th:href="'/products'"><span class="material-icons">Produkty</span></a>
</body>
</html>