<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common-head :: common-head"/>
<body>
<div th:replace="fragments/header :: header">
</div>
<div class="container">
    <table>
        <thead>
        <tr>
            <th> Nazwa</th>
            <th> Opis</th>
            <th> Ilość</th>
            <th> Cena</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${products.empty}">
            <td colspan="2">Może coś sprzedasz?</td>
        </tr>
        <tr th:each="product : ${products}">
            <td><span th:text="${product.name}"> nazwa </span></td>
            <td><span th:text="${product.description}"> opis </span></td>
            <td><span th:text="${product.quantity}"> ilość </span></td>
            <td><span th:text="${product.price}"> cena </span> PLN</td>
            <td>
                <a th:href="@{/products/edit/}+${product.id}"><span class="material-icons">Edytuj</span></a>
            </td>
            <td>
                <a th:href="@{/products/delete/}+${product.id}" class="btn btn-danger">Usuń</a>
            </td>

        </tr>
        </tbody>
    </table>

    <a th:href="'/products/new'"><span class="material-icons">Dodaj nowy produkt</span></a>
</div>

<div th:replace="fragments/footer :: footer">
</div>
</body>
</html>