html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #c2dde6;
}

.container {
    background: white;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login {

}

.footer {
    color: #c2dde6;
    background: #0c5460;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;

    display: none;
}

.header-decor {
    height: 45px;
    color: #c2dde6;
    font-weight: bold;
    flex-wrap: nowrap;
}

.nav {
    background: white;

}

.logo {
    margin: 20px;
    z-index: 999;
}

.product {
    height: 160px;
}

.my-account {
    text-align: left;
}

.my-account .btn {
    margin: 5px;
}

.order-completed {
    background: #1e7e34;
}

.order-waiting {
    background: #c82333;
}

.btn-light {
    background: #c2dde6;
}

.breadcrumb {
    background: #c2dde6;
    color: white;
}

.new-product{
    margin-bottom: 20px;
}

tr {
    border-color: grey;
    border-radius: 5px;
    width: 100%;
}

th {
    text-align: center;
    height: 40px;

}

.input-group {
    display: block;
}

table {
    display: inline-block;
    margin: 0 auto;

}

img {
    display: block;
    max-width: 230px;
    max-height: 150px;
    width: auto;
    height: auto;
}

img.basket-img{
    max-width: 500px;
    max-height: 100%;
}

td {
    text-align: center;
    vertical-align: middle;
}

td {
    min-width: 100px;
    padding: 5px;
    word-break: break-all;
}

thead {
    background: #2ECC40 ;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid grey;
    border-radius: 10px;
}

input,
textarea {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 5px;
}

input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-group {
    clear: both;
    margin: 15px 0;
    position: relative;
}

.input-group input[type='button'] {
    background-color: #eeeeee;
    min-width: 38px;
    width: auto;
    transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
    font-weight: bold;
    height: 38px;
    padding: 0;
    width: 38px;
    position: relative;
}

.input-group .quantity-field {
    position: relative;
    height: 38px;
    /*left: -6px;*/
    text-align: center;
    width: 62px;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 5px;
    resize: vertical;
}

.button-plus {
    left: -13px;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}
